// jhnkb

html 
{
    background-color: #F6F6F6;     /* #E9E9E9; #DCDCDC #FBFBFB; #FCFBFB; #F6F5F5; PAGE color background color */
    width: 99.15vw;
    color: #01014c;                /* #020273 #01015f; #01014c;, #555555 perfect grey, #13133a; in BLOG */
    font-family: fantasy;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    vertical-align: text-bottom;
}


.a-blog
{ 
    font-size: 110%;
    color: #13133a; 
    border-bottom:.1px normal #13133a; 
}


.a-cat
{
    color:#660000; 
    border-bottom:.1px normal #660000; 
}

.a-by
{
    color:#000033;
    border-bottom:.1px normal #000033; 
}

.a-noborder
{
   color: #414141; /* COLOR FOR BAR MENU, Home.... */
   font-family: fantasy;
   font-weight: normal;
   text-decoration: none;
}

.a-border
{
   color: #414141; /* COLOR FOR BAR MENU, Home.... */
   font-family: fantasy;
   font-weight: normal;
   text-decoration: underline 1px #414141;
}

.left
{
    text-align: left;
}

.right
{
    text-align: right;
}

h4 
{
    text-align: right;
}



/*---------------------------------------------------------------------------------*/
/*----------------------------- PAGE HEADER & FOOTER ------------------------------*/
/*----------------------------- PAGE HEADER & FOOTER ------------------------------*/
/*---------------------------------------------------------------------------------*/


.org-ddm
{
                                /* background for page header and Hapslab logo, moto */
   z-index: 525;
   top:0;
   left:0; 
   height: 4vh;                /* REDUCED THE HEIGHT OF TOP LOGO AREA FROM 6em */
   // width:98.75vw;           /* REFER width in html{} */
   padding-top: 1vh;
   margin-bottom: 10vh;
   border-bottom: 2px solid silver;
}

.org-NameMotoHeader             /* NOT IN USE NOW   */
{
   position: relative;
  -moz-user-select: none;       /* mozilla browsers */
  -khtml-user-select: none;     /* webkit browsers  */
   text-decoration-style: solid;
   top: .75vh;                  /* Position inside org-ddm class, places Hapslab, Moto, Menu buttoms */ 
   vertical-align: middle;
   font-family: fantasy;        /* Comic Sans, Florence, fantasy; */
}

.org-NameHeader
{                               /* FONTs of top HEADER for Hapslab */
   position: relative;
   color: maroon;               /* #855800; */
   font-weight: bold;
   font-size: 1.75vw;
   font-family: fantasy;        /* "Great Vibes", cursive; fantasy;  Comic Sans, Florence; */
   text-decoration: none;
   // top: -.9vh;
}

.org-MotoHeader 
{
   position: relative;
   color: navy;                 /* #4a6f2c;  vertical-align: 0px; */
   font-weight: normal;
   font-size: 1.1vw;            /* FONTSIZE of top HEADER */
   font-family: fantasy;        /* Comic Sans, Florence, fantasy; */
   // top: .4vh;
}


/*
.menu-box-container OLD  */
.menu-box-header-container
{ 
//  position: relative;
  position: fixed;
  z-index: 552;
  display: flex;
  flex-flow: row nowrap;
  left: 9vw; 
  width: 85vw; 
//  padding-bottom: .5vh;
// border: 1px solid blue;
}

/*
.menu-box-header-spl
{
  margin-right: .5vw;
}
*/

.menu-box-header-Header-shift
{
   position: relative;
   margin-right: .5vw;
}

.menu-box-header-Moto-shift
{
  position: relative;
  margin-right: 20vw;
}

.menu-box-header-right-shift
{
  position: relative;
  margin-right: 2.4vw;     /* creates right gap between menu-box-header menu boxes */
}

.menu-box-header 
{
  position: relative;
  font-size: 1.1vw; 
  font-weight: normal;
//  margin-right: 2.4vw;          
// border: 1px solid green;
}

.menu-box-header-right
{
  position: relative;
  width: 0;
  margin: 0;          /* creates right gap between boxes */
}


.menu-box-header-org-NameMotoHeader
{
   position: relative;
   top: -1vh;                /* horizantally aligns with menu-box-header box menu's */
}


.menu-box-footer-container
{ 
  position: relative;
  left: 0;
			       /* Gets width from #bottom-footer-id */
  z-index: 555;
  display: flex;
  flex-wrap: wrap;
 // flex-flow: row nowrap;
/*
  left: 20vw; 
  width: 60vw; 
  padding-bottom: .5vh;
*/
  margin-top: 20vh; 
  border-top: 2px solid silver;
}

.menu-box-footer-container-three
{ 
  position: relative;
  z-index: 565;
  display: flex;
  flex-flow: row nowrap;
}

.menu-box-footer-container-two
{ 
  position: relative;
//  left: 30vw;
  z-index: 565;
  display: flex;
  flex-flow: row nowrap;
}

.center-div
{
   position: relative;
   /* Below 2 css for Text Center inside DIV */
   text-align: center; 
   float: right;
   margin: auto;
//   padding-left: 25vw;
   padding-bottom: .25vw;
   width: 45vw;
// border: 1px solid red;
}

/* 
div.org-NameMotoFooter OLD*/
.menu-box-footer-org-NameMotoFooter
{
   position: relative;
   text-align: center; 
   padding-top: 1vh; 
   /* Below 2 css for Text Center inside DIV */
   margin: auto;
   width: 50vw;
}

.menu-box-footer-respo
{
  padding-left: 5vw;
}

/*
.bottom-footer-links-class  bottom footer */

.menu-box-footer 
{
   position: relative;
   color: #414141;    /* #3E3E3E light grey color */ 
   font-size: .8vw;
   font-family: verdana;
   font-weight:normal;
   margin-right: .35vw;
   text-align: left;      // center-div is float: center
}

/*
a.atitle:hover {
  content: attr(title);
  position: absolute;
  width: 50vw;
  top: -325%;
  left: 0;
}

a.atitle {
  position: relative;
  display: inline-block;
//  margin-top: 20px;
}


a {
  position: relative;
  display: inline-block;
//  margin-top: 20px;
}

a[title]:hover::after {
  content: attr(title);
  position: absolute;
  width: 50vw;
  top: -325%;
  left: 0;
}
*/

/*
.menu-box-footer a     
{
   color: #414141;     /* WORKING */ 
}
*/


.org-NameFooter
{
   position: relative;
   text-decoration: none;
   color: maroon;               /* #855800; #6B4700; DarkGoldenRod; COLOR of top HEADER   */
   font-family: fantasy;        /* Comic Sans, Florence, fantasy; */
   font-weight: bold;
   font-size: 1.5vw;            /* FONTSIZE of top HEADER */
   text-align: left;
}

.org-NameFooter a
{
   color: maroon;               /* #855800; #6B4700; DarkGoldenRod; COLOR of top HEADER   */
}

.org-MotoFooter 
{
   position: relative;
   color: navy;                 /* #4a6f2c; COLOR of top MOTO after HEADER Olive */
   vertical-align: 0px;
   font-family: fantasy;
   font-weight: normal;
   font-size: .9vw;             /* FONTSIZE of top HEADER */
//   text-align: right;
}


.org-DevelopedBy-margin
{
     text-align: right;
     float: right;          // center-div is float: center
//   margin-left: 9vw;
}


.micro-display
{
   font-size: .2vw;
}

.micro-display-tm
{
   font-size: .4vw;
}

div a.org-url
{
   color:#6B4700;              /* color used for www.hapslab.com 2014 & border */
}

#bottom-footer-id
{
                            /* DISPLAYS Careers, Contacts etc with Header and Moto (again) */
   position: relative; 
   width: 98.65vw;           /* REFER width in html{} */
   height: 20%;
   top: 240%;               /* 00:05 29-05-2020 CHANGED from 50% for hapslab, MARGIN from top of #bottom-footer-id */
   left: 0;                 /* LEFT distance from #bottom-footer-id, changed on 22:15 27-05-2020 from 12% */
   float: left;
   text-align: center;      /* 00:05 29-05-2020 CHANGED from left for hapslab*/
}


.bottom-footer-share-class /* bottom footer */
{
   position: relative;
   float: right;
   color: #414141;    /* #3E3E3E light grey color */ 
   font-size: .8vw;
   font-weight:normal;
   text-transform: capitalize;
}


.bottom-footer-share-class li /* NOT USED ANYMORE */
{
/*   display: inline;     displays a vertical list as horizontal list 
margin: 4%;
*/ 
   
}


.bottom-footer-share-class span a  /* bottom footer */
{
   color: #414141;    /* #3E3E3E light grey color */ 
}


/*
.share-contactus .share-facebook .share-linkedin .share-twitter .share-googlep .share-youtube
{
   font-size: .7vw;
}
*/

.inactive-link {
   pointer-events: none;
   cursor: default;
}

/*
------------------------------ HOME PAGE PICTURE, TEXT, & SLIDER -----------------------------
------------------------------ HOME PAGE PICTURE, TEXT, & SLIDER -----------------------------
------------------------------ HOME PAGE PICTURE, TEXT, & SLIDER -----------------------------
------------------------------ HOME PAGE PICTURE, TEXT, & SLIDER -----------------------------
*/



/*
                                  ------------------------------ HOME PAGE - BLOGS -----------------------------
                                  ------------------------------ HOME PAGE - BLOGS -----------------------------
                                  ------------------------------ HOME PAGE - BLOGS -----------------------------
                                  ------------------------------ HOME PAGE - BLOGS -----------------------------
*/


.pixrowgrid
{
  position: relative;
  margin-left: 2vw;
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;            /* old 50% Makes pictures right sized in the gallery */ 
  height: auto;
//  border: 1px solid red;
}

.pixcolgrid
{
  position: relative;
  flex: 28%;                 /* 27% OLD 20% */
  max-width: 28%;            /* 27% OLD 20% */
  padding: 2% 2%;            /* 2% 2%; COLUMN space between pictures */
}

.pixcolimggrid
{
  position: relative;
  vertical-align: middle;
}

.pixcolimggrid:hover {
  -ms-transform: scale(1.75); /* IE 9 */
  -webkit-transform: scale(1.75); /* Safari 3-8 */
  transform: scale(1.75); 
  z-index: 555;
}

                             /* Responsive layout - makes a two column-layout */
@media (max-width: 800px) 
{
  .pixcolgrid {
    flex: 100%;
    max-width: 100%;
  }
}

                            /* Responsive layout - makes the two columns stack on top of each other */
@media (max-width: 600px) 
{
  .pixcolgrid {
    flex: 50%;
    max-width: 50%;
  }
}


.pixrowgridproduct
{
  position: relative;
  margin-left: 2vw;
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;            /* old 50% Makes pictures right sized in the gallery */ 
  height: auto;
//  border: 1px solid red;
}

.pixcolgridproduct
{
  position: relative;
  flex: 28%;                 /* 27% OLD 20% */
  max-width: 28%;            /* 27% OLD 20% */
  padding: 2% 2%;            /* 2% 2%; COLUMN space between pictures */
}

.pixcolimggridproduct
{
  position: relative;
  vertical-align: middle;
}

.pixcolimggridproduct:hover 
{
  -ms-transform: scale(1.75); /* IE 9 */
  -webkit-transform: scale(1.75); /* Safari 3-8 */
  transform: scale(1.75); 
  z-index: 555;
}

                             /* Responsive layout - makes a two column-layout */
@media (max-width: 800px) 
{
  .pixcolgridproduct {
    flex: 100%;
    max-width: 100%;
  }
}

                            /* Responsive layout - makes the two columns stack on top of each other */
@media (max-width: 600px) 
{
  .pixcolgridproduct {
    flex: 50%;
    max-width: 50%;
  }
}


.pixrowgridplatform
{
  position: relative;
  width: auto;
  margin-left: 2vw;
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;            /* old 50% Makes pictures right sized in the gallery */ 
  height: auto;
//  border: 1px solid red;
}

.pixcolgridplatform
{
  position: relative;
  flex: 28%;                 /* 27% OLD 20% */
  max-width: 28%;            /* 27% OLD 20% */
  padding: 2% 2%;            /* 2% 2%; COLUMN space between pictures */
}

.pixcolimggridplatform
{
  position: relative;
  vertical-align: middle;
}

.pixcolimggridplatform:hover {
  -ms-transform: scale(1.75); /* IE 9 */
  -webkit-transform: scale(1.75); /* Safari 3-8 */
  transform: scale(1.75); 
  z-index: 555;
}

                             /* Responsive layout - makes a two column-layout */
@media (max-width: 800px) 
{
  .pixcolgridplatform {
    flex: 100%;
    max-width: 100%;
  }
}

                            /* Responsive layout - makes the two columns stack on top of each other */
@media (max-width: 600px) 
{
  .pixcolgridplatform {
    flex: 50%;
    max-width: 50%;
  }
}


.pixrowgriddata
{
  position: relative;
  margin-left: 2vw;
// float: center;
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;            /* old 50% Makes pictures right sized in the gallery */ 
  height: auto;
//  border: 1px solid red;
}

.pixcolgriddata
{
  position: relative;
  flex: 28%;                 /* 27% OLD 20% */
  max-width: 28%;            /* 27% OLD 20% */
  padding: 2% 2%;            /* 2% 2%; COLUMN space between pictures */
}

.pixcolimggriddata
{
  position: relative;
  vertical-align: middle;
}

.pixcolimggriddata:hover 
{
  -ms-transform: scale(2.95); /* IE 9 */
  -webkit-transform: scale(2.95); /* Safari 3-8 */
  transform: scale(2.95); 
  z-index: 555;
}

                             /* Responsive layout - makes a two column-layout */
@media (max-width: 800px) 
{
  .pixcolgriddata {
    flex: 100%;
    max-width: 100%;
  }
}

                            /* Responsive layout - makes the two columns stack on top of each other */
@media (max-width: 600px) 
{
  .pixcolgriddata {
    flex: 50%;
    max-width: 50%;
  }
}


.trends-homes-container
{
    position: relative;
    background-color: white;      /* background color for the container #f3e7ff #8000ff */
    font-family: Arial;
    text-align: center;
    margin-left: 25vw;             
    margin-right: 25vw;
/*
    margin-left: 10vw;
    margin-right: 10vw;
*/
    margin-top: 20vh;             /* GAP OUTSIDE below trends-columns-container */
    padding: 2vh 3vw 12vh 3vw;

//    background-image: linear-gradient(#FF9933, #FFFFFF, #138808);

/*
    padding: 2vh 12vw 12vh 12vw;
*/
}

.trends-home-container
{
    position: relative;
    background-color: #FAFDFD;    /* #FCFBFB */ 
    height: auto;
    font-size: 1.2vw;
    padding: 5vh 5vw 5vh 5vw;
    margin-left: 4vw;             /* ALL same sized centered Images */
    margin-right: 4vw;            /* ALL same sized centered Images */
}


.trends-deals-container
{
    position: relative;
    background-color: white;      /* background color for the container #f3e7ff #8000ff */
    font-family: Arial;
    text-align: center;
    margin-left: 25vw;             
    margin-right: 25vw;
/*
    margin-left: 10vw;
    margin-right: 10vw;
*/
    margin-top: 20vh;             /* GAP OUTSIDE below trends-columns-container */
    padding: 2vh 3vw 12vh 3vw;

//    background-image: linear-gradient(#FF9933, #FFFFFF, #138808);

/*
    padding: 2vh 12vw 12vh 12vw;
*/
}


.trends-deal-container
{
    position: relative;
    background-color: #FAFDFD;    /* #FCFBFB */ 
    height: auto;
    font-size: 1.2vw;
    padding: 5vh 5vw 5vh 5vw;
    margin-left: 4vw;             /* ALL same sized centered Images */
    margin-right: 4vw;            /* ALL same sized centered Images */
}


/* *******************************************************#PRODUCTS START*/

.trends-products-container
{
    position: relative;
    background-color: white;      /* background color for the container #f3e7ff #8000ff */
//    height: auto;                 /* Dimension trends-box-container */
//    width: auto;                  /* Corrects Trends Column sheet width. 105% includes 1 more colm */

    display: flex;
    flex-wrap: wrap;


    font-family: Arial;
//    text-align: center;
    margin-left: 25vw;             
    margin-right: 25vw;
    margin-top: 20vh;             /* GAP OUTSIDE below trends-columns-container */
    padding: 2vh 3vw 12vh 3vw;
    border: 1px solid #f2f3f4;
}


.trends-product-atag
{
    position: absolute;
}


.trends-product-container-one
{
    position: relative;
    width: auto;
    height: auto;

    display: flex;                  /* CSS wraps div inside trends-products-container */
    flex-wrap: wrap;                /* CSS wraps div inside trends-products-container */
    
    font-size: 1.2vw;
    background-color: #FAFDFD; /* #FCFBFB */ 
}


.trends-product-container-two
{
    position: relative;
    width: 13.5vw;           /* 5.5vw INCREASE SIZE of PRODUCTS BOX or AREA */
    font-size: 1.2vw;
    padding: 1.25vh .75vw 1.75vh .75vw;
    margin: 5vh 3vw 5vh 3vw;
    background-color: #EFEDF9; 
}


.trends-product-text-container
{
    position: relative;
    word-spacing: .25vw;    /* To read the para-text-blog-desc text clearly and easily */
    text-align: left;
}


.trends-product-title
{
    position: relative;
    height: auto;
    font-size: .9vw;    
    word-spacing: .25vw;    /* To read the para-text-blog-desc text clearly and easily */
    text-align: left;
    margin-top: 2.5vh;
    margin-bottom: 1.5vh;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
}

.trends-product-desc
{
    position: relative;
    height: auto;
    font-size: .7vw;    
    top: 1vh;
    word-spacing: .25vw;    /* To read the para-text-blog-desc text clearly and easily */
    text-align: left;
    color: black;
}

.trends-product-header
{
   position: relative;
   width: 45vw;              /* DO NOT CHANGE, ADDED due to display: flex */
   float: center;            /* DO NOT CHANGE    */
   padding-top: 1vh;         /* GAP inside above */
   padding-bottom: 3vh;      /* GAP inside below */
//   border: 1px solid blue;
}


.trends-product-img         /* + or - SIZE of image #HACK #TRICK*/
{
    position: relative;
    margin-left: auto;      /* Centers image */
    margin-right: auto;     /* Centers image */
//    object-fit: fill;
    border: .1vw solid silver;
    max-width: 100%; // 100%
    width: 14.5vw;
    height: 11vh;
/*
    width: 5vw;
    height: 5vh;
*/
    object-fit: fill;
}

  
.trends-product-img:hover {
  -ms-transform: scale(1.75); /* IE 9 */
  -webkit-transform: scale(1.75); /* Safari 3-8 */
  transform: scale(1.75); 
  z-index: 555;
}

/* *******************************************************#PRODUCTS END   */
/* *******************************************************#PLATFORMS START */

.trends-platforms-container
{
    position: relative;
    background-color: white;      /* background color for the container #f3e7ff #8000ff */
//    height: auto;                 /* Dimension trends-box-container */
//    width: auto;                  /* Corrects Trends Column sheet width. 105% includes 1 more colm */

    display: flex;
    flex-wrap: wrap;

    font-family: Arial;
//    text-align: right;
//    text-align: center;
    margin-left: 25vw;             
    margin-right: 25vw;
    margin-top: 20vh;             /* GAP OUTSIDE below trends-columns-container */
    padding: 2vh 1.5vw 12vh 1.5vw;
    border: 1px solid #f2f3f4;
}


.trends-platform-container-one
{
    position: relative;
    width: auto;
    height: auto;

    display: flex;                  /* CSS wraps div inside trends-platforms-container */
    flex-wrap: wrap;                /* CSS wraps div inside trends-platforms-container */

    font-size: 1.2vw;
    margin: 0;
//    background-color: #FAFDFD; /* #FCFBFB */ 
// border: 1px solid blue;
}


.trends-platform-container-two
{
    position: relative;
    width: auto;           /* trends-platform-container-two: DONT TOUCH */
    height: auto;          /* trends-platform-container-two: DONT TOUCH */
    font-size: 1.2vw;

    display: flex;                  /* CSS wraps div inside trends-platforms-container */
    flex-wrap: wrap;                /* CSS wraps div inside trends-platforms-container */

//    padding: 1.25vh .75vw 1.75vh .75vw;
    margin: 1.5vh 1vw 1.5vh 1vw;   // space taken by each picture on all sides
//    background-color: #EFEDF9; 
// border: 1px solid red;
}


.trends-platform-header
{
   position: relative;
   width: 45vw;              /* DO NOT CHANGE, ADDED due to display: flex */
   float: center;            /* DO NOT CHANGE    */
   padding-top: 1vh;         /* GAP inside above */
   padding-bottom: 3vh;      /* GAP inside below */
//   border: 1px solid blue;
}


.trends-platform-img         /* + or - SIZE of image #HACK #TRICK*/
{
    position: relative;
    margin-left: auto;      /* Centers image */
    margin-right: auto;     /* Centers image */
    
    border: .1vw solid silver;
    max-width: 100%; // 100%
    width: 8.75vw;
    height: 12.75vh;
}

.trends-platform-img:hover 
{
  -ms-transform: scale(2.5); /* IE 9 */
  -webkit-transform: scale(2.5); /* Safari 3-8 */
  transform: scale(2.5); 
  z-index: 555;
}


/* *******************************************************#PLATFORMS END   */


.trends-gallery-container
{
    position: relative;
    background-color: white;      /* background color for the container #f3e7ff #8000ff */
    font-family: Arial;
    text-align: left;
    margin-left: 25vw;
    margin-right: 25vw;
/*
    margin-left: 10vw;
    margin-right: 10vw;
*/
    margin-top: 20vh;             /* GAP OUTSIDE below trends-columns-container */
    padding: 2vh .1vw 12vh .1vw;
    border: 1px solid #f2f3f4;
}


.trends-platform-container
{
    position: relative;
    background-color: white;      /* background color for the container #f3e7ff #8000ff */
    text-align: center;
    border: 1px solid red;
}


.trends-datas-container
{
    position: relative;
    background-color: white;      /* background color for the container #f3e7ff #8000ff */
//    height: auto;                 /* Dimension trends-box-container */
//    width: auto;                  /* Corrects Trends Column sheet width. 105% includes 1 more colm */

    display: flex;
    flex-wrap: wrap;


    font-family: Arial;
    text-align: center;
//    text-align: center;
    margin-left: 25vw;             
    margin-right: 25vw;
    margin-top: 20vh;             /* GAP OUTSIDE below trends-columns-container */
    padding: 2vh 3vw 12vh 3vw;
//    padding: 2vh 1.5vw 12vh 1.5vw;
    border: 1px solid #f2f3f4;
}

.trends-data-header
{
   position: relative;
   width: 45vw;              /* DO NOT CHANGE, ADDED due to display: flex */
   text-align: center;            /* DO NOT CHANGE    */
   padding-top: 1vh;         /* GAP inside above */
   padding-bottom: 3vh;      /* GAP inside below */
//   border: 1px solid blue;
}




.trends-helps-container
{
    position: relative;
    background-color: none;      /* background color for the container #f3e7ff #8000ff */
    font-family: Arial;
    text-align: center;
    margin-left: 25vw;             
    margin-right: 25vw;
/*
    margin-left: 10vw;
    margin-right: 10vw;
*/
    margin-top: 20vh;             /* GAP OUTSIDE below trends-columns-container */
    padding: 2vh 3vw 12vh 3vw;

//    background-image: linear-gradient(#FF9933, #FFFFFF, #138808);

/*
    padding: 2vh 12vw 12vh 12vw;
*/
}


.trends-contacts-container
{
    position: relative;
    background-color: white;             /*#e2dff5; #cfcaef; #F9F9FC; #FAFDFD #FCFBFB */ 
    font-family: Arial;
    margin-left: 25vw;             
    margin-right: 25vw;
    margin-top: 20vh;             /* GAP OUTSIDE below trends-columns-container */
    padding: 2vh 3vw 12vh 3vw;
//    border: 1px solid #f2f3f4;
}

.trends-contact-box
{
    position: relative;
    margin:0;
    padding:0;
    word-wrap: break-word;
    font-weight: normal;
    line-height: 1.5;
//    padding-bottom: 5vh;
}


/* *******************************************************#PARTNERS START  */

.trends-partners-container
{
    position: relative;
    background-color: white;      /* background color for the container #f3e7ff #8000ff */
//    height: auto;                 /* Dimension trends-box-container */
//    width: auto;                  /* Corrects Trends Column sheet width. 105% includes 1 more colm */

    display: flex;
    flex-wrap: wrap;


    font-family: Arial;
//    text-align: center;
    margin-left: 25vw;             
    margin-right: 25vw;
    margin-top: 20vh;             /* GAP OUTSIDE below trends-columns-container */
    padding: 2vh 3vw 12vh 3vw;
    border: 1px solid #f2f3f4;
}


.trends-partner-atag
{
    position: absolute;
}


.trends-partner-container-one
{
    position: relative;
    width: auto;
    height: auto;

    display: flex;                  /* CSS wraps div inside trends-partners-container */
    flex-wrap: wrap;                /* CSS wraps div inside trends-partners-container */
    
    font-size: 1.2vw;
    background-color: #FAFDFD; /* #FCFBFB */ 
}


.trends-partner-container-two
{
    position: relative;
    width: 5.5vw;           /* 5.5vw INCREASE SIZE of PARTNERS BOX or AREA */
    font-size: 1.2vw;
    padding: 1.25vh .75vw 1.75vh .75vw;
    margin: 5vh 3vw 5vh 3vw;
    background-color: #EFEDF9; 
}


.trends-partner-text-container
{
    position: relative;
    word-spacing: .25vw;    /* To read the para-text-blog-desc text clearly and easily */
    text-align: left;
}


.trends-partner-title
{
    position: relative;
    height: auto;
    font-size: .9vw;    
    word-spacing: .25vw;    /* To read the para-text-blog-desc text clearly and easily */
    text-align: left;
    margin-top: 2.5vh;
    margin-bottom: 1.5vh;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
}

.trends-partner-desc
{
    position: relative;
    height: auto;
    font-size: .7vw;    
    top: 1vh;
    word-spacing: .25vw;    /* To read the para-text-blog-desc text clearly and easily */
    text-align: left;
    color: black;
}

.trends-partner-header
{
   position: relative;
   width: 45vw;              /* DO NOT CHANGE, ADDED due to display: flex */
   float: center;            /* DO NOT CHANGE    */
   padding-top: 1vh;         /* GAP inside above */
   padding-bottom: 3vh;      /* GAP inside below */
//   border: 1px solid blue;
}


.trends-partner-img         /* + or - SIZE of image #HACK #TRICK*/
{
    position: relative;
    margin-left: auto;      /* Centers image */
    margin-right: auto;     /* Centers image */
//    object-fit: fill;
    border: .1vw solid silver;
    max-width: 100%; // 100%
    width: 5vw;
    height: 5vh;
/*
    width: 5vw;
    height: 5vh;
*/
    object-fit: fill;
}

  
/* *******************************************************#PARTNERS END   */
/* *******************************************************#CUSTOMERS START */

.trends-customers-container
{
    position: relative;
    background-color: white;      /* background color for the container #f3e7ff #8000ff */
//    height: auto;                 /* Dimension trends-box-container */
//    width: auto;                  /* Corrects Trends Column sheet width. 105% includes 1 more colm */

    display: flex;
    flex-wrap: wrap;


    font-family: Arial;
//    text-align: center;
    margin-left: 25vw;             
    margin-right: 25vw;
    margin-top: 20vh;             /* GAP OUTSIDE below trends-columns-container */
    padding: 2vh 3vw 12vh 3vw;
    border: 1px solid #f2f3f4;
}


.trends-customer-atag
{
    position: absolute;
}


.trends-customer-container-one
{
    position: relative;
    width: 45vw;
    height: auto;

    display: flex;                  /* CSS wraps div inside trends-customers-container */
    flex-wrap: wrap;                /* CSS wraps div inside trends-customers-container */
    
    font-size: 1.2vw;
//    background-color: #FAFDFD; /* #FCFBFB */ 

// border: 1px solid blue;
}


.trends-customer-container-two
{
    position: relative;
    width: 5.5vw;
    font-size: 1.2vw;
    padding: 1.25vh .75vw 1.75vh .75vw;
    margin: 3vh 5vw 3vh 5vw;
//    background-color: #EFEDF9; 
}


.trends-customer-text-container
{
    position: relative;
    word-spacing: .25vw;    /* To read the para-text-blog-desc text clearly and easily */
    text-align: left;
}


.trends-customer-title
{
    position: relative;
    height: auto;
    font-size: .9vw;    
    word-spacing: .25vw;    /* To read the para-text-blog-desc text clearly and easily */
    text-align: left;
    margin-top: 2.5vh;
    margin-bottom: 1.5vh;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
}

.trends-customer-desc
{
    position: relative;
    height: auto;
    font-size: .7vw;    
    top: 1vh;
    word-spacing: .25vw;    /* To read the para-text-blog-desc text clearly and easily */
    text-align: left;
    color: black;
}

.trends-customer-header
{
   position: relative;
   width: 45vw;              /* DO NOT CHANGE, ADDED due to display: flex */
   float: center;            /* DO NOT CHANGE    */
   padding-top: 1vh;         /* GAP inside above */
   padding-bottom: 3vh;      /* GAP inside below */
//   border: 1px solid blue;
}


.trends-customer-img         /* + or - SIZE of image #HACK #TRICK*/
{
    position: relative;
    display: block;         /* Centers image */
    margin-left: auto;      /* Centers image */
    margin-right: auto;     /* Centers image */
    width: 15vw;            /* ALL same sized centered Images */
    height: 15vh;           /* ALL same sized centered Images */
//    max-width: 100%;        /* ALL same sized centered Images */
    border-radius: 40%;
}


.trends-customer-details-container
{
    position: relative;
    margin-top: .25vh;
/*
display: flex;
    flex-wrap: wrap;
*/
}


/* *******************************************************#CUSTOMERS END */

/* *******************************************************#BLOGS START */

.trends-blogspage-container
{
    position: relative;
    background-color: white;      /* background color for the container #f3e7ff #8000ff */
    height: auto;                 /* Dimension trends-box-container */
    width: auto;                  /* Corrects Trends Column sheet width. 105% includes 1 more colm */
    font-family: Arial;
    text-align: left;
/*
    margin-left: 10vw;
    margin-right: 10vw;
*/
    margin-left: 25vw;             
    margin-right: 25vw;
    margin-top: 20vh;             /* GAP OUTSIDE below trends-columns-container */
    padding: 2vh 3vw 12vh 3vw;

    margin-top: 20vh;             /* GAP OUTSIDE below trends-columns-container */
//    margin-bottom: 30vh;          /* GAP OUTSIDE below trends-columns-container */
//    padding: 4vh 5vw 5vh 5vw;
    border: 1px solid #f2f3f4;
}

.trends-blogspage-title
{
    margin-top: 6vh;
    margin-bottom: 10vh;
    font-size: 3vw;
}

.trends-blogpage-atag
{
    position: absolute;
}

.trends-blogpage-img
{
    position: relative;
    top: 2vh; /* 4vh */
    left: 2vw;
    width: 8.5vw;
    height: 10.5vh;

/*    width: 35vw;             ALL same sized centered Images */
/*    height: 35vh;            ALL same sized centered Images */
    margin-left: auto;      /* ALL same sized centered Images */
    margin-right: auto;     /* ALL same sized centered Images */
    float: left;            /* ALL same sized centered Images */
    max-width: 100%;        /* ALL same sized centered Images */

/*
    object-fit: cover;         Make Image FIT Image area 
*/
    padding-bottom: 3vh;   /* 6vh */
}

.trends-blogpage-container
{
    position: relative;
    background-color: #EFEDF9; // FAFDFD; /* #FCFBFB */ 
    height: auto;
    display: flex;
    align-items: stretch;
    font-size: 1.2vw;
//    padding: 3vh 2vw 5vh 2vw;
    padding: .75vh .5vw .75vh .5vw;
    margin-bottom: 2vh;            /* 8vh GAP between blog boxes */
    border: 1px solid #e8f4f8;     /* #d4ebf2; #add8e6 #ace5ee; f2f3f4l;  #f8f8ff; */
}

.trends-blogpage-text-container
{
    position: relative;
    height: auto;
    width: 40vw;
    font-size: 1vw;    
    margin-left: 4vw;
    margin-bottom: 2.5vh;   
    word-spacing: .25vw;    /* To read the para-text-blog-desc text clearly and easily */
    text-align: left;
    padding: 1.5vh 2vw .5vh 0;   //     padding: 1.5vh 2vw 1.5vh 0;
}

.trends-blogpage-details
{
    position: relative;
    align-text: right;
    height: 1vh;
    top: .5vh;
    right: .25vw;
    width: auto;                      /*  FIXED the shifting of description  */
    color: #414141;                   /*  #3E3E3E light grey color           */ 
    word-spacing: 0;
    font-family: fantasy;
    font-size: .6vw;
    font-weight:normal;
}

.trends-blogpage-style
{
    position: relative;
    align-text: right;
    height: 1vh;
    top: .5vh;
    right: .25vw;
    width: auto;                      /*  FIXED the shifting of description  */
    color: #414141;                   /*  #3E3E3E light grey color           */ 
    font-size: .6vw;
    font-weight: bold;
    font-style: normal;
}

.trends-blogpage-title
{
    position: relative;
    height: auto;
    font-size: 1vw;       /* 2vw */
    word-spacing: .25vw;    /* To read the para-text-blog-desc text clearly and easily */
    margin-top: 1.5vh;
    margin-bottom: .5vh;
    text-align: left;
}

.trends-blogpage-desc
{
    position: relative;
    height: auto;
    font-size: .8vw;    /* 1vw */
    top: .5vh;          /* 1vh */
    word-spacing: .25vw;    /* To read the para-text-blog-desc text clearly and easily */
    text-align: left;
}

.trends-blogs-header
{
   position: relative;
   font-size: 2.5vw; 
   font-weight: bold;
   text-align: center;
   padding-top: 3vh;         /* 6vw GAP above trends-box-container */
   padding-bottom: 3vh;      /* 6vh GAP above trends-box-container */
   margin-bottom: 1vh;
}

.h1-only
{
   font-size: 2.75vw; 
   color: #000066;
   text-align: center;
}

.h2-only
{
   font-size: 1.75vw; 
   color: #000066;
   text-align: center;
}

.h1-only-spl
{
   font-size: .5vw; 
   font-weight: bold;
   color: #000066;
}

.trends-blogs-header-only
{
//   position: relative;
   font-size: 1.5vw; 
   color: #000066;
   font-weight: bold;
   text-align: center;
   padding: 0;
   margin: 0;
}

.trends-blogs-header-margin
{
//   width: auto;
display: block;
   margin-top: 5vh;
   margin-bottom: 8vh;
   text-align: center;
// border: 1px solid red;
}


.trends-blogs-img-only         /* + or - SIZE of image */
{
    display: block;         /* Centers image */
    margin-left: auto;      /* Centers image */
    margin-right: auto;     /* Centers image */
    margin-top: 10vh;      
    margin-bottom: 10vh;   
/*  
    width: 13.75%;
    height: 16.75%;
*/
    width: 45vw;            
    height: 55vh;         
    max-width: 100%;        /* ALL same sized centered Images */
    border-radius: 50%;
//    border: 2px solid silver;
}

.trends-blogs-img         /* + or - SIZE of image #HACK #TRICK*/
{
    display: block;         /* Centers image */
    margin-left: auto;      /* Centers image */
    margin-right: auto;     /* Centers image */
    width: 55%;
    height: 45%;
max-width: 25%;  
/*
    width: 11.75%;
    height: 13.75%;
*/
    border: .2vw solid silver;
    margin-bottom: 3vw;
}

.trends-blogs-details-container
{
    position: relative;
    margin-top: .25vh;
}

  
.trends-blogs-details
{
    position: relative;
    top: -2.5vh;
    text-align: center;
    color: #414141;    /* #3E3E3E light grey color */ 
    font-size: .8vw;
    font-weight:normal;
    padding: 0;
}

/*
------------------------------ HOME PAGE - TRENDS BOX -----------------------------
------------------------------ HOME PAGE - TRENDS BOX -----------------------------
------------------------------ HOME PAGE - TRENDS BOX -----------------------------
------------------------------ HOME PAGE - TRENDS BOX -----------------------------
*/

.trends-box-header
{
  font-color: #F6F5F5;
  font-size: 1.5vw; 
  text-align: center;
  padding-top: 6vh;         /* GAP above trends-box-container */
  margin-bottom: 4vh;       /* GAP below trends-box-container */
}

.trends-box-container-bak
{
  position: relative;
  background-color: white;
  left:0;
  height: auto;             /* Dimension trends-box-container */
  width: 99vw;              /* Dimension trends-box-container */
  padding-bottom: 6vh;      /* GAP above trends-box-container */
  margin-top:  5vh;         /* GAP ABOVE trends-box-container-bak & BELOW picture & text area */
  margin-bottom: 20vh;      /* GAP BELOW trends-box-container-bak                             */
}

.trends-box-container
{
  position: relative;
  background-color: white;   /* background color for the container */
  display: flex;
  flex-flow: row nowrap;
  margin-left: 5vw;
  width: 90vw;               /* SIZE of container */
}

.trends-box 
{
  height: auto;
  width: 40vw;               /* ADDED 22:20 03-10-2020 to STOP width expansion of each trends-box pictire */
  margin-right: .9vw;        /* GAP between Boxes */
  overflow: hidden;
  text-overflow: ellipsis; 
}

.trends-box-img         /* + or - SIZE of image */
{
    width: 100%;
    height: 70%;
    border: 0;
    margin: 0;
}
                            
.trends-box-text-top
{
    font-style: oblique;
    font-size:  1vw;
}

.trends-box-text-bottom
{
    font-size: .9vw;
    width: auto;
/*
    word-wrap: break-word;
*/
}


/*
------------------------------ HOME PAGE - TRENDS COLUMNS -----------------------------
------------------------------ HOME PAGE - TRENDS COLUMNS -----------------------------
------------------------------ HOME PAGE - TRENDS COLUMNS -----------------------------
------------------------------ HOME PAGE - TRENDS COLUMNS -----------------------------
*/

#trends-columns-container
{  
   position: relative;
   background-color: white;      /* background color for the container */

/* STOPPED 17:21 04-10-2020, Handled by .trends-box-header
   padding-top: 6vh; 
   height: 30vh;
*/
   height: auto;                 /* Dimension trends-box-container */
   width: 80vw;                  /* Corrects Trends Column sheet width. 105% includes 1 more colm */
   font-family: Arial;
   margin-left: 10vw;
   margin-bottom: 6vh;          /* GAP OUTSIDE below trends-columns-container */
}


#trends-columns
{  
   display: flex;
   flex-wrap: wrap;
   align-content: space-between;
            /* position: relative; Trends columns got corrected by CHANGING this, 14:25 13-09-2019 */
   background-color: white;      /* background color for the container */
   height: auto;
   padding-left: 6vw;            /* left GAP INSIDE trends-columns */
   padding-bottom: 6vh;         /* GAP INSIDE below trends-columns        */
}

#trends-columns div
{
   list-style-type: none;        /* NO bullets in infront */
   float: left;
   width: 8.5vw;                 /* EACH TREND COLUMN WIDTH */
   padding-left: 1vw;            /* GAP inside each cell of trends-columns */

}


#trends-columns div li 
{
   font-size: .9vw;              /* TRENDS COLUMNS font size */
   font-weight:normal;
   font-family: arial;
   text-decoration: none;
}


#trends-columns div li a
{
   color: #3E3E3E;
/* TRENDS CELL font size */
   text-align: left;
   margin: 0;
   padding: 0;
/*
   display:block !important;
*/
   text-decoration: none;      /* DO NOT REMORE: This STOPS underline on ALL the TRENDS COLUMNS */
/*
   text-decoration: underline #F6F5F5 solid;
*/
}


#trends-columns div li a:hover
{
   text-decoration: underline #1709f6 solid;  /* TRENDS COLUMN CELL underline in BLUE shade */
}


#trends-columns div li p
{
                               /* TRENDS COLUMNs HEADERs text attributes */
  text-transform: uppercase;
  font-weight: bold;
  font-color: #F6F5F5;
  text-align: left;
  margin-top: .08vh;       
  margin-bottom: .02vh;
}


@media (max-width: 1200px) 
{

  .org-ddm
  {
     padding-top: 1vh;
     height: 3vh;
  }

  .menu-box-header-org-NameMotoHeader
  {
     position: relative;
     top: -.75vh;                /* horizantally aligns with menu-box-header box menu's */
  }

  .org-NameHeader
  {
//     top: -.45vh;
  }

  .trends-blogs-details-container
  {
    position: relative;
    margin-top: 1.5vh;
  }  

  .trends-blogpage-img
  {
          width: 8.5vw;
          height: 10.5vh;
  } 

  .trends-blogs-img-only
  {
      height: 35vh;
      margin-top: 10vh;      
      margin-bottom: 10vh;   
  } 

  .trends-box-header 
  {
    margin-bottom: 0;       /* .trends-box has already set it to 4vh, 0 to avoid double */
  }

  .trends-box-container 
  {
    display: flex;
    flex-flow: wrap;
    text-align: left;
  }

  .trends-box 
  { 
    width: 40vw;
    max-width: 39vw;
    margin-top: 4vh;
    text-align: left;
  }
}

@media (max-width: 900px) 
{

  .org-ddm
  {
     padding-top: 1vh;
     height: 2vh;
  }

  .menu-box-header-org-NameMotoHeader
  {
     position: relative;
     top: -1.25vh;                /* horizantally aligns with menu-box-header box menu's */
  }

  .menu-box-footer-org-NameMotoFooter
  {
   position: relative;
   padding-top: .25vh; 
  }

  .org-NameHeader
  {
//     top: -.15vh;
  }

  #display-picture-id
  {
     height: 45.5vh; 
     width: 99vw;
     background-size: 75.5vw 45.5vh;   /* 79.5 70% 100%; PICTURE-Text Desc frame display AREA */
  }

  #display-picture-id-img        /* DISPLAYS PICTURES RECTANGLE only, NOT the text area*/
  {
     height: 45.5vh;             /* Makes Pictures or Images clickable, SAME AS #display-picture-id background-size: */
     width: 75.5vw;              /* Makes Pictures or Images clickable, SAME AS #display-picture-id background-size: */
  }

  #display-picture-text-container
  {                              /* DARK GREY BOX with PICTURE TEXT CONTAINER                       */
     top: 0;
     left: 75.5vw;               /* 70.45% LEFT of DARK GREY BOX with PICTURE text and slider pane.
                                    This can + or - the border in between 
                                    #display-picture-id and #display-picture-text-container 
                                 */
     height: 45.5vh;             /* 87.5% HEIGHT of DARK GREY BOX with PICTURE text and slider pane */
     width: 21.5vw;              /* 26.5% WIDTH of DARK GREY BOX with PICTURE text and slider pane  */
  }

  #display-picture-text
  {                              /* DISPLAY AREA for TEXT, BEFORE right slider pane */
     left: 1vw;                  /* LEFT OF #display-picture-text-container's top:  */
     height: auto;
     width: 18vw;
     font: normal .9vw fantasy;  
     padding-right: 1.75vw;      /* SPACE inside the text box on right side         */
  }

  #display-picture-slider-right
  {
     top: 7.25vh;
     left: 19.75vw;  /* 20vw */
  }

  .display-picture-slider-circle
  {
     margin-bottom: 1.75vh;       /* HEIGHT between each of 12 slider circles */
  }


  .trends-blogspage-container
  {
      background-color: skyblue;
      margin-top: 9vh;             /* GAP OUTSIDE below trends-columns-container */
      margin-bottom: 9vh;          /* GAP OUTSIDE below trends-columns-container */
      padding: 2vh 5vw 3vh 5vw;
  }
  
  .trends-blogspage-title
  {
      margin-top: 0;
      margin-bottom: 3vh;
  }
  
  .trends-blogpage-img
  {
      top: 4vh;
      left: 2vw;  
      width: 8.5vw;
      height: 10.5vh;
      padding-bottom: 7vh;
  }

  .trends-blogs-details-container
  {
    position: relative;
    margin-top: 1.25vh;
  }  

  .trends-blogs-img-only
  {
      height: 23vh;
      margin-top: 6vh;      
      margin-bottom: 5vh;   
  } 

  .trends-blogpage-container
  {
      padding: 1vh 2vw 1.5vh 2vw;
      margin-bottom: 5vh;            /* GAP between blog boxes */
  }
  
  .trends-blogpage-text-container
  {
      margin-left: 4vw;
      margin-bottom: 2.5vh;
      padding: 3vh 2vw 1.5vh 0;
  }
  
  .trends-blogpage-details
  {
  }
  
  .trends-blogpage-style
  {
  }
  
  .trends-blogpage-title
  {
      margin-top: 1.5vh;
      margin-bottom: 1vh;
  }
  
  .trends-blogpage-desc
  {
  }

  .trends-box-container-bak      /* from 600 */
  {
     padding-bottom: 3vh;          /* GAP above trends-box-container */
     padding-left: 4vw;
     width: 50%
     margin: auto;
     margin-top:  3.5vh;         /* GAP ABOVE trends-box-container-bak & BELOW picture & text area */
     margin-bottom: 10vh;          /* GAP OUTSIDE below trends-columns-container */
  }

  .trends-box-header
  {
     padding-top: 3vh;         /* GAP above trends-box-container */
     margin-bottom: 1vh;       /* GAP below trends-box-container */
  }

  #trends-columns
  {  
     padding-left: 4vw;          /* left GAP INSIDE trends-columns */
     padding-bottom: 0;  
  }

  #trends-columns-container
  {
     padding-bottom: 3vh;  
     width: 50%
     margin: auto;
     margin-bottom: 0;          /* GAP OUTSIDE below trends-columns-container */
  }
}
                              /* Responsive layout - makes the two columns stack on top of each other */


@media (max-width: 600px) 
{
  .org-ddm
  {
     padding-top: .75vh;
     height: 1.65vh;
  }

  .menu-box-header-org-NameMotoHeader
  {
     position: relative;
     top: -1.65vh;                /* horizantally aligns with menu-box-header box menu's */
  }

  .menu-box-footer-org-NameMotoFooter
  {
   position: relative;
   padding-top: -.5vh; 
  }

  .org-NameHeader
  {
//     top: .15vh;
  }

  #display-picture-id
  {
     height: 31.5vh; 
     width: 99vw;
     background-size: 75.5vw 31.5vh;   /* 79.5 70% 100%; PICTURE-Text Desc frame display AREA */
  }

  #display-picture-id-img        /* DISPLAYS PICTURES RECTANGLE only, NOT the text area*/
  {
     height: 31.5vh;             /* Makes Pictures or Images clickable, SAME AS #display-picture-id background-size: */
     width: 75.5vw;              /* Makes Pictures or Images clickable, SAME AS #display-picture-id background-size: */
  }

  #display-picture-text-container
  {                              /* DARK GREY BOX with PICTURE TEXT CONTAINER                       */
     top: 0;
     left: 75.5vw;               /* 70.45% LEFT of DARK GREY BOX with PICTURE text and slider pane.
                                    This can + or - the border in between 
                                    #display-picture-id and #display-picture-text-container 
                                 */
     height: 31.5vh;             /* 87.5% HEIGHT of DARK GREY BOX with PICTURE text and slider pane */
     width: 21.5vw;              /* 26.5% WIDTH of DARK GREY BOX with PICTURE text and slider pane  */
  }

  #display-picture-text
  {                              /* DISPLAY AREA for TEXT, BEFORE right slider pane */
     left: 1vw;                  /* LEFT OF #display-picture-text-container's top:  */
     height: auto;
     width: 17vw;
     font: normal .9vw fantasy;    /* .765vw */
     padding-right: 1.75vw;          /* SPACE inside the text box on right side         */
  }

  #display-picture-slider-right
  {
     top: 4.75vh;
     left: 18.5vw; /* 19vw */
  }

  .display-picture-slider-circle
  {
     margin-bottom: 1.25vh;        /* HEIGHT between each of 12 slider circles */
  }

  
  .trends-blogspage-container
  {
      background-color: coral;
      margin-top: 5vh;             /* GAP OUTSIDE below trends-columns-container */
      margin-bottom: 2vh;          /* GAP OUTSIDE below trends-columns-container */
      padding: .25vh 5vw 1vh 5vw;
  }

  .trends-blogspage-title
  {
      margin-top: 0;
      margin-bottom: 3vh;
  }
  
  .trends-blogpage-img
  {
      top: 4vh;
      left: 2vw;
      width: 8.5vw;
      height: 10.5vh;
      padding-bottom: 3vh;
  }

  .trends-blogs-img-only
  {
      height: 16vh;
      margin-top: 3vh;      
      margin-bottom: 2vh;   
  } 

  .trends-blogs-details-container
  {
    position: relative;
    margin-top: 2vh;
  }  

  .trends-blogpage-container
  {
      padding: 1vh 2vw 1.5vh 2vw;
      margin-bottom: 5vh;            /* GAP between blog boxes */
  }
  
  .trends-blogpage-text-container
  {
      margin-left: 4vw;
      margin-bottom: 2.5vh;
      padding: 3vh 2vw 1.5vh 0;
  }
  
  .trends-blogpage-details
  {
  }
  
  .trends-blogpage-style
  {
  }
  
  .trends-blogpage-title
  {
      margin-top: 1.5vh;
      margin-bottom: 1vh;
  }
  
  .trends-blogpage-desc
  {
  }
  

  .trends-box-container 
  {
     display: flex;
     flex-flow: wrap;
     text-align: left;
  }

  .trends-box 
  {
     height: 20vh;         /* height of picture */
     width: 75vw;          /* width of picture  */

    /* max- adjusts number of pix */
     max-height: 25vh;     /* height of number of picture fitment*/
     max-width: 125vw;     /* width of number of picture fitment */

     margin-top: 1vh;
     text-align: left;
  }

  .trends-box-container-bak
  {
     padding-bottom: 0;        /* GAP above trends-box-container */
     padding-left: 4vw;
     width: 50%
     margin: auto;
     margin-top:  2.5vh;         /* GAP ABOVE trends-box-container-bak & BELOW picture & text area */
     margin-bottom: 10vh;
  }

  .trends-box-header
  {
     padding-top: 3vh;         /* GAP above trends-box-container */
     margin-bottom: 1vh;       /* GAP below trends-box-container */
  }

  #trends-columns
  {  
     padding-left: 4vw;          /* left GAP INSIDE trends-columns */
     padding-bottom: 0;
  }

  #trends-columns-container
  {

     padding-bottom: 3vh;  
     width: 50%
     margin: auto;
     margin-bottom: 0;          /* GAP OUTSIDE below trends-columns-container */
  }
}
